.education-section {
    .page-column-header {
        background-color: rgba(245, 190, 185, 0.5);
        }
}
.education-card {
    padding: 20px;
    margin-bottom: 30px;
    width: 600px;
    min-width: 500px;
    font-size: 20px;
    margin-right:40px;
    border-radius: 12px;
    background: rgba(245, 190, 185, 0.25); /* transparent pink */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
}

.education-card-img {
    width: 80px;
}
.education-section-body{
    display: flex;
}

.education-card-title {
    font-weight: bold;
    font-size: 28px;
    padding: 12px 20px;
}

.certification-card {
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 500px;
    min-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    img {
        width: 500px;
        height: 310px;
    }
}

.certification-card:hover {
    background: rgba(255, 255, 255, 0.35); /* brighter */
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    cursor: pointer;
  }

.education-card-subtitle {
    font-style: italic;
}

@media (max-width: 600px) {
    .certification-card {
        min-width: 400px;
        width: 100%;

        img {
            width: 100%;
            height: 290px;
        }
 
    }

    .education-card-title {
        font-size: 18px;
    }
    .education-section-body {
        display: block;
    }
    .education-card {
        padding: 12px;
        font-size: 16px;
        width: 95%;
        min-width: 300px;
    }
    .education-card-title {
        padding: 6px;
    }
    .education-section {
        background-size: 80%;
    }
    .thumbpin {
        width: 20px;
        height: 20px;
    }
}